
  .modal-header {
    .modal-title {
      padding-top: 5px !important;
    }

    .col-cross-icon {
      text-align: left;
      padding: 0;

      .cross-icon {
        font-size: 20px;
        margin-top: 12px;
      }

      .cross-icon:hover {
        cursor: pointer;
      }
    }
  }

  .datePicker {
    direction: ltr;
    float: right;

    .ngb-tp {
      position: relative;
    }

    .ngb-tp-hour::after {
      content: "Hours";
      position: absolute;
      top: 95px;
      font-size: 14px;
      font-weight: bold;
      color: orange;
    }

    .ngb-tp-minute::after {
      content: "Minutes";
      position: absolute;
      top: 95px;
      font-size: 14px;
      font-weight: bold;
      color: orange;
    }
  }

  #trainerAddItem {
    mdb-tabset {
      ul.classic-tabs {
        background-color: transparent !important;
        box-shadow: 0 0 0 0 !important;
        padding: 0 !important;
        margin-bottom: 0px !important;

        li.nav-item {
          width: 50%;
          text-align: center;
          padding: 0 15px;
          font-size: 20px;

          .nav-link {
            color: black;
            font-weight: bold;
            border-bottom: 5px solid transparent;
          }

          .nav-link:hover {
            background: #ececec;
          }
        }

        li.nav-item.active {
          .nav-link {

            color: #00ada4;
            font-size: 20px;
            font-weight: bold;
            border-bottom: 5px solid #00ada4;
            background-color: #ececec !important;
          }

          .nav-link:hover {
            background: #ececec;
          }
        }
      }

      .tab-content {
        box-shadow: 0 0 0 0 !important;
      }
    }

    .wrap-btn-upload-cover {
      .upload-cover-img-icon {
        font-size: 40px;
        color: #00ada4;
      }

      .upload-cover-img-icon:hover {
        cursor: pointer;
      }
    }

    .form-genrl {
      .label-div {
        .lbl-genrl {
          font-weight: bold;
          margin: 0 3% 0 3%;
        }

        .lbl-required:after {
          font-family: "Font Awesome 5 Pro";
          content: "\f069";
          color: red;
          padding: 0px 3px;
          font-size: 7px;
          position: absolute;
          top: 4px;
        }
      }

      .error-msg-div {
        .error-message {
          color: red;
          text-align: left;
        }
      }

      // CALENDER STYLES START
      .calendar {
        border: 2px solid #02aea5 !important;
        color: #02aea5 !important;
        width: 60px;
        height: 60px;
        padding: 0 !important;
        margin: 0 10px 0 0 !important;
        border-radius: 0 !important;

        i.fa-calendar-alt {
          font-size: 30px;
        }
      }

      .form-control-date {
        height: 60px;
        font-size: 25px;
        text-align: center;
        border-radius: 0;
        border: 2px solid #00b4a8;
        max-width: 350px !important;
      }

      ngb-datepicker.dropdown-menu {
        width: 350px !important;
        border-radius: 0;
        border: 2px solid #00b4a8;

        .ngb-dp-header {
          .custom-select {
            background-position: 5px !important;
          }
        }

        .ngb-dp-content {
          .ngb-dp-month {
            width: 100% !important;

            .ngb-dp-week {
              padding: 0 !important;

              .ngb-dp-day {
                width: 14.2857% !important;

                .btn-light {
                  width: 100% !important;
                  border-radius: 0 !important;
                }
              }
            }
          }

        }



      }

      // CALENDER STYLES END

      .cover-img {
        width: 300px;
        margin-bottom: 13px;
        border: 2px solid #00b4a8;
        border-radius: 20px;
      }

      select {
        font-family: "Cairo";
      }

      .btn-add-course {
        background-image: linear-gradient(to top, #00b5a9, #01637f);
        color: white !important;
        font-weight: bold;
        height: 50px;
      }

      .wrap-btn-upload-cover {
        position: relative;
      }

      .lbl-upload-from-gallery {
        font-size: 10px;
        position: absolute;
        top: -10px;
        display: block;
        right: 60px;
        width: 90px;
      }

      .upload-cover-img-icon {
        font-size: 40px;
        color: #00ada4;


      }

      .upload-cover-img-icon:hover {
        cursor: pointer;
      }
    }
  }
